/* .navbar-brand {
    color: #666360;
    font-size: 17px;
    font-style: oblique;
    text-shadow: burlywood;
    margin-top: 15px;
} */
.topnav-centered a {
    color: #707f80;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
    letter-spacing: 7px;
    word-spacing: 7px;
    margin-top: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    float: none;
}

.topnav-centered a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    text-align: center;
}

body, html {
    height: 100%;
  }
  
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } */