{% extends "layout.html" %}
{% block content %}
<p>
I worked in many different fields like accounting, ensurance, language teaching,<br>
software engineering, but nothing of this can make your soul singing, as you're always in process of thinking <br>
or solving problems at work. For this purpose i've decided to get distracted from that a bit and create something <br>
that i can get inspiration from. So here it is. <br>    
I am not a professional musician and there's no special musical equipment to use sadly.<br>
Firsty i was recording it with my phone to show my friends just for fun. Though <br>
now i have an app called 'GarageBand' that gives you tones of effects and instruments to maintain ordinary guitar sounds.<br>
All the songs are connected to my soundcloud account. So if you are a member of this service and a musician as well, <br>
we could keep in touch there too. <br>
Enjoy!
</p>
{% endblock content %}
