{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">{{ post.date_posted.strftime('%Y-%m-%d') }}</h5>
                    <h4>{{ post.comment }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container" id="posts">


    <div class="media">
        <div class="col-0 d-flex flex-row justify-content-center>
            <h5 class="mt-0">{{ post.date_posted.strftime('%Y-%m-%d') }}</h5>
            <p>{{ post.comment }}</p>
        </div>
    </div>

</div> -->


<!-- <div class="media">
    <div class="media-body align-self-center">
      <h5 class="mt-0">{{ post.date_posted.strftime('%Y-%m-%d') }}</h5>
      <p>{{ post.comment }}</p>
    </div>
  </div> -->
<!-- <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      <div class="article-content">
         <p> {{ post.comment }}</p>
    </div>
    </div>
  </article> -->

        
{% endfor %}
{% endblock content %}