<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script type="text/javascript"
         src="{{ url_for('static', filename='css/script.js') }}"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <nav class="navbar h-navbar p-0 fixed-top" role="navigation">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-2 col-sm-4 col-5">
            <a href="/">
              <img alt="Iaroslav" class="img-fluid py-3" img src="{{ url_for('static', filename='css/mylogo.png') }}" aria-role="logo">
            </a>
          </div>
          <div class="col-xl-9 col-lg-10 col-sm-8 col-7">
            <ul class="navbar-nav flex-row justify-content-end flex-wrap align-items-center mr-lg-4 mr-xl-0">
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="#"><strong>About me</strong></a>
              </li>
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="/songs/"><strong>Songs</strong></a>
              </li>
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="/feedback/"><strong>Feedback</strong></a>
              </li>
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="/social/"><strong>Social</strong></a>
              </li>
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="/support/"><strong>Support</strong></a>
              </li>
              <li class="nav-item px-3 mb-0 position-relative d-none d-lg-flex"> <a class="d-block w-100 h-100 text-white position-relative top-link" href="/contact/"><strong>Contact</strong></a>
              </li>
            </ul>
            <button id="sidenav-open-btn" class="menu-hamburger position-absolute pointer p-0"> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </head>
  <section class="first">
    <div class="container">
    </div>
  </section>
  <section>
    <div class="container">
      <h1>Here is some more content</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h1>Here is some more content</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h1>Here is some more content</h1>
    </div>
  </section> 
      <div class="bg"></div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
     
